.profile-container{
    // max-width: 200px;

    // margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // background-color: red;
    // height: calc(100vh - 100px);
    padding: 100px 0 0 340px;

    h1{
        font-family: 'Playfair Display';
        margin-bottom: 50px;
    }
}